.font-menu {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin-top: 5%;
  display: unset;
  /* identical to box height */

  color: #ffffff;
}

.font-menu:hover {
  color: #af2e1c;
}

.linkmenu:active {
  color: #af2e1c;
}

.buttonsearch {
  margin-left: 1%;
  height: 40px;
  margin-top: -0.3%;
  background-color: #af2e1c;
  border-color: #af2e1c;
}

.linkmenu {
  text-decoration: none;
}

.linkmenu1 {
  margin-left: 5%;
  text-decoration: none;
}

.linkmenu::hover {
  color: #af2e1c;
}

.linkmenu1:hover {
  color: #af2e1c;
}
